<div class="body">
    <div class="about-me-container">

        <div class="image-container">
            <img src="../../assets/aboutus pic.jpg" alt="">
        </div>
        <div class="about-me-text">
            <h2>About Us</h2><br><br>

            <h3>Company Mission: Provide quality goods and services at the lowest possible price while investing in
                organizations that are making the world a better place</h3><br><br>

            <p>In 2000 four men set out to create an outdoor wears company that stands a part from the rest. It was
                their desire to create a company that provides quality name brand equipment and gear at the lowest
                possible price and has a lasting impact on the world through social enterprising. This mission was set
                in motion with a dream and a team of people who were willing to invest and lay down their lives for a
                cause bigger than themselves. The Outdoorsman Inc. has been growing each and every year and is poised to
                reach 25% of the market share in the industry by 2023.</p><br><br>

            <p>Since their inception The Outdoorsman Inc. has given away more than 5 million dollars from from their
                total profits to The A21 Campaign. A21 is a faith based organization whose mission it is to abolish
                slavery and human trafficking across the globe. With low costs of quality goods and a generous 10%
                profit sewing program, The Outdoorsman Inc. is set a part as a leader in the outdoor wears industry.
                Thank you to every single consumer and business partner we have. We could not be doing this without you.
            </p><br><br>

            <div class="sincerely">Sincrerly,</div><br>
            <div class="signature">The Outdoorsman Team</div>

        </div>
    </div>
</div>