<div class="footer">
    <div>
        <p class="follow">FOLLOW US</p>
        <div class="links">
            <a id="twit" href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a id="insta" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a id="face" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>

        </div>
    </div>
    <div>
        <p class="support">SUPPORT</p>
        <a id="email" href="https://www.google.com">online.support@TheOutdoorsman.com</a>
    </div>

</div>